<article class="">
	<a href="{{post.url}}">
		<h3>
				{{post.data.pageTitle}}
				<span class="date">
						{{post.data.date | readableDate}}
				</span>
		</h3>
		<div>
			<picture>
					<img src="{{post.data.heroImage | url}}" loading="lazy" width="50%" height="auto" alt="">
			</picture>
			<p>
				{{post.data.pageDiscription}}
			</p>
			content:
			{{ post.data.content | safe }}
		</div>
	</a> 
</article>