<a href="{{post.url}}">
			<h3><strong>Title: {{post.data.pageTitle}}</strong> | 
			<small>Date: {{post.data.date | readableDate}}</small></h3>
			<p class="pb-sm">Discription: {{post.data.pageDiscription}}</p>
		</a> 
