<section id="" role="contentinfo" aria-label="" class="py-md px-lg">
        {%- for post in collections.featured %}  
            {% include "components/featuredContent.njk" %}
        {% endfor -%}
    </section>
