<footer class="p-lg">
    <p class="m-lg">edBastarache.com 2021</p>
    <nav>
        <ul class="navList">
            <li class="navItem">
                <a href="https://twitter.com">
                    <span class="text">twitter</span>
                    <i class="fab fa-3x fa-twitter-square"></i>
                </a>
            </li>
            <li class="navItem">
                <a href="https://linkedin.com">
                    <span class="text">linkedin</span>
                    <i class="fab fa-3x fa-linkedin"></i>
                </a>
            </li>
            <li class="navItem">
                <a href="https://github.com">
                    <span class="text">github</span>
                    <i class="fab fa-3x fa-github-square"></i>
                </a>
            </li>
            <li class="navItem">
                <a href="https://codepen.com">
                    <span class="text">codepen</span>
                    <i class="fab fa-3x fa-codepen"></i>
                </a>
            </li>
        </ul>
    </nav>
</footer>
