<section id="HomeAutomation" role="contentinfo" aria-label="Home Automation" class="py-md px-lg">

    <h2 class="section-title mt-lg mb-sm">
    	HomeAutomation
        <small> - Coming Soon!</small>
    </h2>
    <p>This will be a section for discussing HomeAutomation.</p>
    <a href="#">View All Articles</a>
    <div class="row-wrap">
        {% set postslist = collections.homeautomation %}
        {%- for post in postslist %}  
            {% include "components/showCaseCard.njk" %}
        {% endfor -%}
    </div>
    
</section>
