<section id="contactMe" role="contentinfo" aria-label="Contact Me" class="py-md px-lg">

    <h2 class="section-title mt-lg mb-sm">
    	Contact Me
        <small> - Coming Soon!</small>
    </h2>

    <form name="contact" netlify>
        <p>
            <label>Name <input type="text" name="name" /></label>
        </p>
        <p>
            <label>Email <input type="email" name="email" /></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
</section>
