<section id="portfolio" role="contentinfo" aria-label="Portfolio" class="py-md px-lg">

    <h2 class="section-title mt-lg mb-sm">
    	Portfolio
        <small> - Coming Soon!</small>
    </h2>

    <p>This will be a section for most of my work throughout the years.</p>
<a href="#">View All Articles</a>
    <div class="row-wrap">
        {% set postslist = collections.portfolio %}
        {%- for post in postslist %}  
            {% include "components/showCaseCard.njk" %}
        {% endfor -%}
    </div>

</section>
