---
layout: layouts/base.njk
---
<img src="{{ heroImage | url }}" alt="{{ heroImage }}"></img>
{%- if pageTitle %}
<h2>{{pageTitle}}</h2>
{%- endif %}

<h3>Posted: {{ date | readableDate }}</h3>

<article>{{ content | safe }}</article>