---
layout: pages/_base.njk
tags: subpage
permalink: /showcased-work/
pageTitle : Showcased Work
pageDiscription : Showcased Work discription
pageKeywords : Showcased Work keywords
---
<h1>{{pageTitle}}</h1>

<section id="showcasedWorkIntro" role="contentinfo" aria-label="Showcased Work Intro" class="p-lg">

    <h2 class="section-title mt-lg mb-sm">
    	Coming Soon!
    </h2>

    <p>This will be a section for Showcasing UX/UI work.</p>

</section>
