---
layout: pages/_base.njk
tags: rootpage
permalink: /about-me/
pageTitle : About Me
pageDiscription : about me discription
pageKeywords : about me keywords
---
<h1>{{pageTitle}}</h1>

<section id="bio" role="contentinfo" aria-label="bio" class="p-lg">

    <h2 class="section-title mt-lg mb-sm">
    	Bio
        <small> - Coming Soon!</small>
    </h2>

    <p>Stuff About me</p>

</section>


{% include "layouts/sectionContactMe.njk" %}