---
layout: layouts/base.njk
permalink: /
tags: rootpage
pageTitle : Home
pageDiscription : Home Page Discription
pageKeywords : UX, UI, Web Design, Web Dev, Front-end
---

<h1>{{pageTitle}}</h1>

Hello! Welcome to the Eleventy + Netlify from scratch homepage.

